@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Road+Rage&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

.road-rage {
    font-family: "Road Rage", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.playfair {
  font-family: 'Playfair Display', serif;
}

/* .road-rage {
  font-family: 'Road Rage', regular;
} */

.roboto {
  font-family: 'Roboto', sans-serif;
}
